<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>road1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{305,859},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,100}</string>
                <key>spriteSourceSize</key>
                <string>{50,100}</string>
                <key>textureRect</key>
                <string>{{407,859},{50,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>road3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,605},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{305,605},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{303,1},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,757},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{432,605},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,303},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road5_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,605},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road5_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{305,732},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{303,303},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road6_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,757},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>road6_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,125}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{432,732},{125,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aaa.png</string>
            <key>size</key>
            <string>{604,910}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67d5e3a33a23c6f0d71cf27985594dfc:d022899c9ee47141aeaafa01fe07b9ed:f616a3d98e77bd582512848ffa404707$</string>
            <key>textureFileName</key>
            <string>aaa.png</string>
        </dict>
    </dict>
</plist>
